<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <%- include('partials/_header') %>
    <title>URL - TinyApp Example</title>
</head>

<body>
  <!-- locals objects stores all parameters specific to the view
    need to stringify before we can see the parameters   -->

  <%# JSON.stringify(locals) %>


  <div class="card text-center">
    
    
    <div class="card-body">
    
    <h3 class="card-title"><b><p></p>Edit URL</b></h3>
      <h5 class="card-title"><b>TinyURL for: <%= urls.longURL %></b></h5>
      <p class="card-text"><b>Short URL: <a href="/u/<%= urls.shortURL %>"><%= urls.shortURL %></a></b></p>
    </div>

    <div class="row justify-content-center">
      <form class="form-inline" action="/urls/<%= urls.shortURL%>" <% urls.shortURL %> method="POST">
        <div class="form-group mb-4">
          <label for="longURL">Enter New URL:</label>
          <input class="form-control" type="text" name="longURL" placeholder="http://example.com"
            style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>



      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Visitor </th>
            <th scope="col">Timestamp</th>
            <th scope="col">Location </th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>

        <%#- JSON.stringify(locals) %>
        <% for(const v in urls.visit) { %>
      
        <tr>       
          <td></td>
          <td></td>
          <td><%= v %></td>
          <td><%= urls.visit[v].timestamp %></td>
          <td><%= urls.visit[v].location %></td>
          <td></td>
          <td></td>
        </tr>       
        <tbody>
          <% } %>
          
          <% if (errCode===406) { %>
            <script type="text/javascript">
              alert(`Error <%= errCode %>  Invalid URL format!`);
           </script>
           <% } %>
          
           <!-- Bootstrap JS -->
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>